principal {
  color: #5747E4;
}

h1, h2, h3 {
  color: #3B3663;
}

botones degradados {
  color: #f47514;
  color: #FFB739;
}

botones degradados {
  color: #5747E4;
  color: #0084FA;
}

otros colores {
  color: #FC4FB1;
  color: #FC4FDD;
  color: #8F3DE4;
  color: #606266;
  color: #F2F2F2;
}