/* Declaracion de fuentes */

/* Configuración de fuentes en el servidor */
@font-face {
  font-family: "Nunito"; /* Nombre de la familia de fuentes */
  src: url("fonts/Nunito-Regular.ttf") format("truetype"); /* Ruta y formato de archivo */
  font-weight: 400; /* Estilo de peso de fuente (opcional) */
  font-style: normal; /* Estilo de estilo de fuente (opcional) */
  font-display: swap;
}

@font-face {
  font-family: "Nunito-ExtraBold"; /* Nombre de la familia de fuentes */
  src: url("fonts/Nunito-ExtraBold.ttf") format("truetype"); /* Ruta y formato de archivo */
  font-weight: 800; /* Estilo de peso de fuente (opcional) */
  font-style: normal; /* Estilo de estilo de fuente (opcional) */
  font-display: swap;
}

@font-face {
  font-family: "Rubick"; /* Nombre de la familia de fuentes */
  src: url("fonts/Rubik-Regular.ttf") format("truetype"); /* Ruta y formato de archivo */
  font-weight: 400; /* Estilo de peso de fuente (opcional) */
  font-style: normal; /* Estilo de estilo de fuente (opcional) */
  font-display: swap;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
  scroll-behavior: smooth;
}

/* Header */

header {
  box-sizing: border-box;
  background-image: url(images/header_wave-bg.webp);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.encabezado {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  height: 65px;
}

.menu a {
  font-size: 16px;
  color: #f2f2f2;
  text-decoration: none;
  padding: 0 5px;
}

/* menu emergente en pantallas pequeñas */

#check {
  display: none;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  color: #f2f2f2;
  cursor: pointer;
  /* Importante! el display:none es para que no se muestre la hamburguesa en pantallas grandes */
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#lupa {
  color: #f2f2f2;
  font-size: 25px;
  margin: 0 15px 0 0;
  transform: rotate(315deg);
}

#search {
  width: 250px;
  height: 24px;
}

/* Contenido del header */

.contenido-header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 50px;
}

.contenido-header .textos {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
}

.contenido-header .imagen {
  width: 60%;
}

.contenido-header {
  h3 {
    color: #f2f2f2;
    text-transform: uppercase;
  }
}

.contenido-header h1 {
  font-family: "Nunito-ExtraBold";
  color: #f2f2f2;
  font-size: 60px;
  font-weight: bolder;
}

.contenido-header p {
  color: #f2f2f2;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen img {
  width: 85%;
}

.botones {
  display: flex;
  margin-top: 45px;
  text-align: center;
}

.botones a {
  color: #f2f2f2;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "rubik", sans-serif;
  font-size: 12px;
  border: solid 1px #6254e7;
  border-radius: 7px;
  padding: 15px 20px;
}

.boton-azul {
  background: linear-gradient(to right, #9289f1, #6254e7);
}

.boton-naranja {
  background: linear-gradient(to right, #f0ac0e, #ff7426);
}

.boton-azul:hover {
  background: linear-gradient(to left, #9289f1, #6254e7);
}

.boton-naranja:hover {
  background: linear-gradient(to left, #f0ac0e, #ff7426);
}

/* Seccion de servicios */
#servicios {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

#servicios .encabezado {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.encabezado h2 {
  text-align: center;
  text-transform: uppercase;
  color: #3b3663;
  font-family: "nunito-ExtraBold", sans-serif;
}

#servicios .contenedor-tarjetas {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 30px;
}

.contenedor-tarjetas .tarjeta-central {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 0 15px;
}

.tarjeta-central img {
  width: 100%;
}

.contenedor-tarjetas .tarjetas-izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
}

.contenedor-tarjetas .tarjetas-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
}

.contenedor-tarjetas .tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 30px 10px;
  padding: 10px;
  text-align: center;
}

.contenedor-tarjetas .tarjetas img {
  width: 35%;
}

.contenedor-tarjetas .tarjetas img:hover {
  transform: scale(1.2);
}

.contenedor-tarjetas .tarjetas h3 {
  color: #3b3663;
  margin: 15px 0;
}

.contenedor-tarjetas .tarjetas p {
  color: #696687;
  padding: 0 25px;
}

.contenedor-tarjetas .tarjetas a {
  text-decoration: none;
  color: #f47514;
}

.contenedor-tarjetas .tarjetas a:hover {
  color: #ff00b7;
}

/* Ajustes responsivos */

@media (max-width: 900px) {
  .imagen img {
    display: none;
  }

  .contenido-header .textos {
    width: 100%;
  }

  .search {
    display: none;
  }

  #servicios .contenedor-tarjetas {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .contenedor-tarjetas .tarjeta-central {
    display: none;
  }

  .contenedor-tarjetas .tarjetas {
    width: 200%;
  }
}

@media (max-width: 768px) {
  .botones {
    flex-direction: column;
    align-self: baseline;
  }

  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .contenedor-tarjetas .tarjetas p {
    padding: 0;
  }

  /* Con esto se crea el menu emergente en pantallas menores a 768px */
  .menu {
    position: fixed;
    width: 95%;
    height: 50vh;
    background-color: #f2f2f2;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 40px 0;
    z-index: 100;
    transition: 0.8;
    margin: 10px;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  /* Con esta propiedad se abre y cierra el menu en pantallas pequeñas */
  #check:checked ~ .menu {
    right: 0;
  }

  .menu a {
    color: #3b3663;
  }

  .esconder-menu {
    color: #3b3663;
  }

  .contenido-header h1 {
    font-size: 48px;
  }
